<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-left">
      Highlight Projects
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-title><a href="https://scholar.google.com/scholar?hl=en&as_sdt=0%2C26&q=barry+hykes&btnG=">Bioinformatics Publications</a></ion-title>
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">
              <a href="https://science.sciencemag.org/content/360/6385/204.abstract">
                Tuft Cells Promote Norovirus Infection
              </a>
               - RNASeq Analysis
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ul>
              <li>STAR</li>
              <li>HTSeq-Count</li>
              <li>GENE-E</li>
              <li>DESeq2</li>
              <li>GSEA</li>
              <li>GG-Plot</li>
            </ul>
          </ion-card-content>
          <ion-item-divider></ion-item-divider>
          <ion-card-header>
            <ion-card-title class="ion-text-center">
              <a href="https://www.sciencedirect.com/science/article/pii/S0092867420308060">
                Intestinal Microbiome Restricts Alphavirus Infection
              </a>
               - 16S Analysis
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ul>
              <li>Dada2</li>
              <li>Phyloseq</li>
              <li>GG-Plot</li>
              <li>Microbiome</li>
            </ul>
          </ion-card-content>
        </ion-card>
        <ion-title>Web Development</ion-title>
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">
              <a href="https://step-4-cash.web.app/home">
                step-4-cash.web.app
              </a>
               - contest progressive web app
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row class="ion-text-center">
              <ion-col>
                <ion-img class="image-center" style="height: 13vh; width: 13vw;" src="../../assets/icon/angular12.webp"></ion-img>
                <ion-text>Angular 12</ion-text>
              </ion-col>
              <ion-col>
                <ion-img class="image-center" style="height: 13vh; width: 13vw;" src="../../assets/icon/Fitbit.png"></ion-img>
                <ion-text>Fitbit API</ion-text>
              </ion-col>
              <ion-col>
                <ion-img class="image-center" style="height: 13vh; width: 13vw;" src="../../assets/icon/stripe.png"></ion-img>
                <ion-text>Stripe API</ion-text>
              </ion-col>
              <ion-col>
                <ion-img class="image-center" style="height: 13vh; width: 13vw;" src="../../assets/icon/node.webp"></ion-img>
                <ion-text>Node.js</ion-text>
              </ion-col>
            </ion-row>
            <ion-row class="ion-text-center" style="margin-top: 5px;">
              <ion-col>
                <ion-img class="image-center" style="height: 13vh; width: 13vw;" src="../../assets/icon/firebase.png"></ion-img>
                <ion-text>Firebase</ion-text>
              </ion-col>
              <ion-col>
                <ion-img class="image-center" style="height: 13vh; width: 13vw;" src="../../assets/icon/bootstrap.png"></ion-img>
                <ion-text>Bootstrap 3</ion-text>
              </ion-col>
              <ion-col>
                <ion-img class="image-center" style="height: 13vh; width: 13vw;" src="../../assets/icon/Typescript_logo_2020.png"></ion-img>
                <ion-text>Typescript 4</ion-text>
              </ion-col>
              <!--<ion-col>
                <ion-img class="image-center" style="height: 13vh; width: 13vw;" src="../../assets/icon/aws-logo.png"></ion-img>
                <ion-text>AWS Hosting</ion-text>
              </ion-col>-->
            </ion-row>
          </ion-card-content>
          <ion-item-divider></ion-item-divider>
          <ion-card-header>
            <ion-card-title class="ion-text-center">
              <a href="https://the-cool-nerd.web.app/">the-cool-nerd.web.app </a>
              - this website
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row class="ion-text-center" style="margin-top: 5px;">
              <ion-col>
                <ion-img class="image-center" style="height: 13vh; width: 13vw;" src="../../assets/icon/angular12.webp"></ion-img>
                <ion-text>Angular 12</ion-text>
              </ion-col>
              <ion-col>
                <ion-img class="image-center" style="height: 13vh; width: 13vw;" src="../../assets/icon/Ionic_Logo.png"></ion-img>
                <ion-text>Ionic 4</ion-text>
              </ion-col>
            </ion-row>
            <ion-row class="ion-text-center" style="margin-top: 5px;">
              <!--<ion-col>
                <ion-img class="image-center" style="height: 13vh; width: 13vw;" src="../../assets/icon/aws-logo.png"></ion-img>
                <ion-text>AWS Hosting</ion-text>
              </ion-col>-->
              <ion-col>
                <ion-img class="image-center" style="height: 13vh; width: 13vw;" src="../../assets/icon/bootstrap.png"></ion-img>
                <ion-text>Bootstrap 3</ion-text>
              </ion-col>
              <ion-col>
                <ion-img class="image-center" style="height: 13vh; width: 13vw;" src="../../assets/icon/Typescript_logo_2020.png"></ion-img>
                <ion-text>Typescript 4</ion-text>
              </ion-col>
              <ion-col>
                <ion-img class="image-center" style="height: 13vh; width: 13vw;" src="../../assets/icon/firebase.png"></ion-img>
                <ion-text>Firebase</ion-text>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>