<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-left">
      Highlight Projects
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-title><a style="cursor: pointer;" href="https://scholar.google.com/scholar?hl=en&as_sdt=0%2C26&q=barry+hykes&btnG=">Bioinformatics Publications</a></ion-title>
        <ion-card>
          <ion-card-header>
            <ion-card-title color="dark" class="ion-text-center">
              <a href="https://science.sciencemag.org/content/360/6385/204.abstract">
                Tuft Cells Promote Norovirus Infection
              </a>
               - RNASeq Analysis
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ul>
              <li><ion-text color="dark">STAR</ion-text></li>
              <li><ion-text color="dark">HTSeq-Count</ion-text></li>
              <li><ion-text color="dark">GENE-E</ion-text></li>
              <li><ion-text color="dark">DESeq2</ion-text></li>
              <li><ion-text color="dark">GSEA</ion-text></li>
              <li><ion-text color="dark">GG-Plot</ion-text></li>
            </ul>
          </ion-card-content>
          <ion-item-divider></ion-item-divider>
          <ion-card-header>
            <ion-card-title color="dark" class="ion-text-center">
              <a href="https://www.sciencedirect.com/science/article/pii/S0092867420308060">
                Intestinal Microbiome Restricts Alphavirus Infection
              </a>
               - 16S Analysis
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ul>
              <li><ion-text color="dark">Dada2</ion-text></li>
              <li><ion-text color="dark">Phyloseq</ion-text></li>
              <li><ion-text color="dark">GG-Plot</ion-text></li>
              <li><ion-text color="dark">Microbiome</ion-text></li>
            </ul>
          </ion-card-content>
        </ion-card>
        <ion-title>Web Development</ion-title>
        <ion-card>
          <ion-card-header>
            <ion-card-title color="dark" class="ion-text-center">
              <a href="https://mytunez.org/">
                mytunez.org
              </a>
               - DJ Request Progressive Web App
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row class="ion-text-center row-center">
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <div class="border">
                  <ion-img class="image-center" src="assets/icon/angular12.webp"></ion-img>
                </div>
                <ion-text color="dark" text-center>Angular 12</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <div class="border">
                  <ion-img class="image-center" src="assets/icon/Ionic_Logo.png"></ion-img>
                </div>
                <ion-text color="dark">Ionic 4</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <div class="border">
                  <ion-img class="image-center" src="assets/icon/node.webp"></ion-img>
                </div>
                <ion-text color="dark">Node.js</ion-text>
              </ion-col>
            </ion-row>
            <ion-row class="ion-text-center row-center">
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <div class="border">
                  <ion-img class="image-center" src="assets/icon/firebase.png"></ion-img>
                </div>
                <ion-text color="dark">Firebase</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <div class="border">
                  <ion-img class="image-center" src="assets/icon/bootstrap.png"></ion-img>
                </div>
                <ion-text color="dark">Bootstrap 3</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <div class="border">
                  <ion-img class="image-center" src="assets/icon/Typescript_logo_2020.png"></ion-img>
                </div>
                <ion-text color="dark">Typescript 4</ion-text>
              </ion-col>
              <!--<ion-col>
                <ion-img class="image-center" style="height: 13vh; width: 13vw;" src="assets/icon/aws-logo.png"></ion-img>
                <ion-text>AWS Hosting</ion-text>
              </ion-col>-->
            </ion-row>
            <ion-row class="ion-text-center row-center">
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <div class="border">
                  <ion-img class="image-center" src="assets/icon/Spotify_Logo_RGB_Green.png"></ion-img>
                </div>
                <ion-text color="dark">Spotify API</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <div class="border">
                  <ion-img class="image-center" src="assets/icon/stripe.png"></ion-img>
                </div>
                <ion-text color="dark">Stripe API</ion-text>
              </ion-col>
            </ion-row>
          </ion-card-content>
          <ion-item-divider></ion-item-divider>
          <!--<ion-card-header>
            <ion-card-title class="ion-text-center">
              <a href="https://step-4-cash.web.app/home">
                step-4-cash.web.app
              </a>
               - contest progressive web app
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row class="ion-text-center">
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <div class="border">
                  <ion-img class="image-center" src="assets/icon/angular12.webp"></ion-img>
                </div>
                <ion-text text-center>Angular 12</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <div class="border">
                  <ion-img class="image-center" src="assets/icon/Fitbit.png"></ion-img>
                </div>
                <ion-text>Fitbit API</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <div class="border">
                  <ion-img class="image-center" src="assets/icon/stripe.png"></ion-img>
                </div>
                <ion-text>Stripe API</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <div class="border">
                  <ion-img class="image-center" src="assets/icon/node.webp"></ion-img>
                </div>
                <ion-text>Node.js</ion-text>
              </ion-col>
            </ion-row>
            <ion-row class="ion-text-center row-center">
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <div class="border">
                  <ion-img class="image-center" src="assets/icon/firebase.png"></ion-img>
                </div>
                <ion-text>Firebase</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <div class="border">
                  <ion-img class="image-center" src="assets/icon/bootstrap.png"></ion-img>
                </div>
                <ion-text>Bootstrap 3</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <div class="border">
                  <ion-img class="image-center" src="assets/icon/Typescript_logo_2020.png"></ion-img>
                </div>
                <ion-text>Typescript 4</ion-text>
              </ion-col>
              <ion-col>
                <ion-img class="image-center" style="height: 13vh; width: 13vw;" src="assets/icon/aws-logo.png"></ion-img>
                <ion-text>AWS Hosting</ion-text>
              </ion-col>
            </ion-row>
          </ion-card-content>
          <ion-item-divider></ion-item-divider>-->
          <ion-card-header>
            <ion-card-title color="dark" class="ion-text-center">
              <a href="http://thecoolnerd.me">thecoolnerd.me </a>
              - this website
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row class="ion-text-center row-center">
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <div class="border">
                  <ion-img class="image-center" src="assets/icon/angular12.webp"></ion-img>
                </div>
                <ion-text color="dark">Angular 12</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <div class="border">
                  <ion-img class="image-center" src="assets/icon/Ionic_Logo.png"></ion-img>
                </div>
                <ion-text color="dark">Ionic 4</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <div class="border">
                  <ion-img class="image-center" src="assets/icon/node.webp"></ion-img>
                </div>
                <ion-text color="dark">Node.js</ion-text>
              </ion-col>
            </ion-row>
            <ion-row class="ion-text-center row-center">
              <!--<ion-col>
                <ion-img class="image-center" style="height: 13vh; width: 13vw;" src="assets/icon/aws-logo.png"></ion-img>
                <ion-text>AWS Hosting</ion-text>
              </ion-col>-->
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <div class="border">
                  <ion-img class="image-center" src="assets/icon/bootstrap.png"></ion-img>
                </div>
                <ion-text color="dark">Bootstrap 3</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <div class="border">
                  <ion-img class="image-center" src="assets/icon/Typescript_logo_2020.png"></ion-img>
                </div>
                <ion-text color="dark">Typescript 4</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <div class="border">
                  <ion-img class="image-center" src="assets/icon/firebase.png"></ion-img>
                </div>
                <ion-text color="dark">Firebase</ion-text>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>