<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-left">
      Technical & Analytical Skills
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-title>Bioinformatics Analysis</ion-title>
        <ion-card>
          <ion-card-header>
            <ion-card-title color="dark" class="ion-text-center">
              RNASeq Analysis
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ul>
              <li><ion-text color="dark">Differential Expression analysis</ion-text></li>
              <li><ion-text color="dark">Pathway Analysis</ion-text></li>
            </ul>
          </ion-card-content>
          <ion-item-divider></ion-item-divider>
          <ion-card-header>
            <ion-card-title color="dark" class="ion-text-center">
              16S Analysis
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ul>
              <li><ion-text color="dark">Alpha Diversity</ion-text></li>
              <li><ion-text color="dark">Beta Diversity</ion-text></li>
              <li><ion-text color="dark">Differential Abundance</ion-text></li>
            </ul>
          </ion-card-content>
          <ion-item-divider></ion-item-divider>
          <ion-card-header>
            <ion-card-title color="dark" class="ion-text-center">
              Virome Analysis
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ul>
              <li><ion-text color="dark">Genome Assembly</ion-text></li>
              <li><ion-text color="dark">Phylogenetic Tree Creation</ion-text></li>
            </ul>
          </ion-card-content>
          <ion-item-divider></ion-item-divider>
          <ion-card-header>
            <ion-card-title color="dark" class="ion-text-center">
              Assay Validation Analysis
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ul>
              <li><ion-text color="dark">Analytical Sensitivity & Specificity</ion-text></li>
              <li><ion-text color="dark">Concordance</ion-text></li>
              <li><ion-text color="dark">Lower Limit of Detection</ion-text></li>
              <li><ion-text color="dark">QC Metrics</ion-text></li>
            </ul>
          </ion-card-content>
        </ion-card>
        <ion-title>Development</ion-title>
        <ion-card>
          <ion-card-header>
            <ion-card-title color="dark" class="ion-text-center">
               Front-End Web Development
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row class="ion-text-center row-center">
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <div class="border">
                  <ion-img class="image-center" src="assets/icon/angular12.webp"></ion-img>
                </div>
                <ion-text color="dark">Angular 12</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <ion-img class="image-center border" src="assets/icon/Ionic_Logo.png"></ion-img>
                <ion-text color="dark">Ionic 4</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <ion-img class="image-center border" src="assets/icon/Typescript_logo_2020.png"></ion-img>
                <ion-text color="dark">Typescript 4</ion-text>
              </ion-col>
            </ion-row>
            <ion-row class="ion-text-center row-center" style="margin-top: 5px;">
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <div class="border">
                  <ion-img class="image-center" src="assets/icon/bootstrap.png"></ion-img>
                </div>
                <ion-text color="dark">Bootstrap 3</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <ion-img class="image-center border" src="assets/icon/html5.png"></ion-img>
                <ion-text color="dark">HTML 5</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <ion-img class="image-center border" src="assets/icon/CSS3.png"></ion-img>
                <ion-text color="dark">CSS</ion-text>
              </ion-col>
              <!--<ion-col>
                <ion-img class="image-center" src="assets/icon/aws-logo.png"></ion-img>
                <ion-text color="dark">AWS Hosting</ion-text>
              </ion-col>-->
            </ion-row>
          </ion-card-content>
          <ion-item-divider></ion-item-divider>
          <ion-card-header>
            <ion-card-title color="dark" class="ion-text-center">
              Backend Web Development
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row class="ion-text-center row-center" style="margin-top: 5px;">
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <ion-img class="image-center border" src="assets/icon/Python-logo.png"></ion-img>
                <ion-text color="dark">Python 3</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <ion-img class="image-center border" src="assets/icon/django.jpeg"></ion-img>
                <ion-text color="dark">Django REST</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <ion-img class="image-center border" src="assets/icon/postgresql.jpeg"></ion-img>
                <ion-text color="dark">PostgreSQL</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <ion-img class="image-center border" src="assets/icon/mongo.png"></ion-img>
                <ion-text color="dark">MongoDB</ion-text>
              </ion-col>
            </ion-row>
            <ion-row class="ion-text-center row-center" style="margin-top: 5px;">
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <ion-img class="image-center border" src="assets/icon/node.webp"></ion-img>
                <ion-text color="dark">Node Express</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <ion-img class="image-center border" src="assets/icon/firestore.jpeg"></ion-img>
                <ion-text color="dark">Firestore DB</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <ion-img class="image-center border" src="assets/icon/firebase-functions.png"></ion-img>
                <ion-text color="dark">Firebase Cloud Functions</ion-text>
              </ion-col>
            </ion-row>
          </ion-card-content>
          <ion-item-divider></ion-item-divider>
          <ion-card-header>
            <ion-card-title color="dark" class="ion-text-center">
              Automation
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row class="ion-text-center row-center" style="margin-top: 5px;">
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <ion-img class="image-center border" src="assets/icon/Python-logo.png"></ion-img>
                <ion-text color="dark">Python 3</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <ion-img class="image-center border" src="assets/icon/bash.png"></ion-img>
                <ion-text color="dark">Bash</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <ion-img class="image-center border" src="assets/icon/Perl.png"></ion-img>
                <ion-text color="dark">Perl</ion-text>
              </ion-col>
            </ion-row>
            <ion-row class="ion-text-center row-center" style="margin-top: 5px;">
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <ion-img class="image-center border" src="assets/icon/docker.jpeg"></ion-img>
                <ion-text color="dark">Docker</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <ion-img class="image-center border" src="assets/icon/cron.png"></ion-img>
                <ion-text color="dark">Cron Jobs</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <ion-img class="image-center border" src="assets/icon/sftp.jpeg"></ion-img>
                <ion-text color="dark">SFTP</ion-text>
              </ion-col>
            </ion-row>
            <ion-row class="ion-text-center row-center" style="margin-top: 5px;">
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <ion-img class="image-center border" src="assets/icon/jenkins.png"></ion-img>
                <ion-text color="dark">Jenkins UI</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <ion-img class="image-center border" src="assets/icon/postgresql.jpeg"></ion-img>
                <ion-text color="dark">PostgreSQL</ion-text>
              </ion-col>
              <ion-col size-sm="3" size-md="3" size-xs="12">
                <ion-img class="image-center border" src="assets/icon/mongo.png"></ion-img>
                <ion-text color="dark">MongoDB</ion-text>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
