<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-left">
      The Cool Nerd
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-avatar class="image-center" style="width: 25%;height: 25%;">
              <img src="../../assets/icon/profile.jpg">
            </ion-avatar>
            <ion-card-title class="ion-text-center">
              Barry Hykes Jr
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <ion-item class="ion-text-center">
              <ion-label>{{ profession }}
                <br>Together, we can create something great!
                <br>
              </ion-label>
            </ion-item>
            <ion-text>
              insert thumbnails
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>